<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <h1 id="#top">Please Login</h1>
      <div class="form-container">
        <form method="post" action="/user/login">
          <label>Enter the Email</label>
          <input type="text" placeholder="email" name="email" />

          <br />
          <br />

          <label>Enter the Password</label>
          <input type="text" placeholder="password" name="password" />

          <br />
          <br />

          <div class="button-container">
            <button type="Login">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
