<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="block block-admin">
        <h2>Admin</h2>
        <p>This block is for admin tasks.</p>
      </div>
      <div class="block block-student">
        <h2>Student</h2>
        <p>This block is for student tasks.</p>
      </div>
      <div class="block block-teacher">
        <h2>Faculty</h2>
        <p>This block is for teacher tasks.</p>
      </div>
    </div>
  </body>
</html>
